<a href="https://colab.research.google.com/github/Udaykiran06-art/PANDAS-DATAFRAMES/blob/main/DataFrame_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Creating a empty Dataframe

import pandas as pd

df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#Creating Dataframe by using single list
import pandas as pd

data = [1,2,3,4,5]

df = pd.DataFrame(data)

print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [ ]:
#Create a DataFrame using list of lists(nested list)
import pandas as pd

data = [[1,'Uday',28],
        [2,'Deepu',15],
        [3,'Mohit',16]]

df = pd.DataFrame(data,columns=['ID','Name','Age'])
print(df)

   ID   Name  Age
0   1   Uday   28
1   2  Deepu   15
2   3  Mohit   16

In [ ]:
#Create  a DataFrame with multiple
import pandas as pd
data = {
    'Name':['Revanth', 'Sashank', 'Vidya'],
    'Age':[16, 13, 27],
    'City':['Srikakulam', 'Rajam', 'Hyderbad']
}
df = pd.DataFrame(data)
print(df)

      Name  Age        City
0  Revanth   16  Srikakulam
1  Sashank   13       Rajam
2    Vidya   27    Hyderbad